
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background: hsl(210, 36%, 96%);
  color:hsl(209, 61%, 16%);
  line-height: 1.5;
  font-size: 0.875rem;
}

h2 {
  font-size: 2rem;
  letter-spacing: 0.25rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
  color: goldenrod;
  font-family: "Great Vibes", cursive;
  text-align: center;
}
p {
  margin-bottom: 1.25rem;
  color: hsl(210, 22%, 49%);
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
.title {
  margin-top: 15vh;
  margin-bottom: 4rem;
}
.section-center {
  max-width:620px ;
}
.question {
  background: #fff;
  border-radius: 5px;
  padding: 1.5rem 1.5rem 0 1.5rem;
  margin-bottom: 2rem;
}
.question-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  padding-bottom: 1rem;
}

.question-title p {
  margin-bottom: 0;
  letter-spacing: .25rem;
}
.question-btn {
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  color: goldenrod;
  transition: all 0.3s linear;
}
.question-btn:hover {
  transform: rotate(90deg);
}
.question-text {
  padding: 1rem 0 1.5rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.question-text p {
  margin-bottom: 0;
}

.question-text {
  display: none;
}
.minus-icon {
    display: none;
  }

/*************************************************Javascript's css****************************************/
.show-text .question-text {
  display: block;
}

.show-text .minus-icon {  
  display: block;
}
.show-text .plus-icon {
  display: none;
}